* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --corbranco: #ffffff;
  --corpreto: #000000;
}

body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin-top: 180px;
  font-size: 25px;
  color: var(--corbranco);
}

section {
  background-color: var(--corbranco);
  border-radius: 10px;
  width: 380px;
  height: 70px;
  margin: 25px auto;
}

div#res {
  padding-top: 15px;
  color: var(--corpreto);
}